 <h2 class="text-center"> 位于<%= @cuery_string %>的相关岗位 </h2>
<div class="col-md-4 col-centered">


 <% @jobs.each do |job| %>


   <div class="panel panel-info">
     <div class="panel-heading">
       <h4 class="text-center">
         <%= link_to(job.title, job_path(job)) %>
         <div class="pull-right">
           <% if current_user && current_user.is_member_of?(job) %>
            <i class="fa fa-bookmark"></i>
           <% else %>
            <i class="fa fa-bookmark-o"></i>
           <% end %>
         </div>
         </h4>
     </div>
     <div class="panel-body">
       <p><i class="fa fa-jpy" aria-hidden="true"></i><%= job.wage_lower_bound %>~<%= job.wage_upper_bound %> |
          <i class="fa fa-clock-o" aria-hidden="true"></i>  <%= job.created_at %></p>
       <p><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= City.find(job.city_id).name %> |
          <i class="fa fa-tags" aria-hidden="true"></i> <%= Category.find(job.category_id).name %> |
          <i class="fa fa-building" aria-hidden="true"></i><%= job.company %></p>
       <p><i class="fa fa-hand-rock-o" aria-hidden="true"></i>你已经有(<%= job.resumes.count %>)个竞争者 </p>
     </div>
   </div>

 <% end %>


</div>
  <div class="row"></div>
