
 <% if @jobs.blank?%>
  <div class="col-md-10 col-md-offset-1">
    <div class="search-error">
      <h2>查无此项！</h2><br>
      <p><%= link_to("立即查看工作", jobs_path, class: "btn btn-default") %></p>
    </div>
  </div>
  <% else %>

  <div class="col-md-4 col-centered">
  <% @jobs.each do |job| %>


    <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="text-center">
          <%= link_to(render_highlight_content(job, @query_string), job_path(job)) %>

          </h4>
      </div>
      <div class="panel-body">
        <p><i class="fa fa-jpy" aria-hidden="true"></i><%= job.wage_lower_bound %>~<%= job.wage_upper_bound %> |
           <i class="fa fa-clock-o" aria-hidden="true"></i>  <%= job.created_at %></p>
        <p><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= City.find(job.city_id).name %> |
           <i class="fa fa-tags" aria-hidden="true"></i> <%= Category.find(job.category_id).name %> |
           <i class="fa fa-building" aria-hidden="true"></i><%= job.company %></p>
        <p><i class="fa fa-hand-rock-o" aria-hidden="true"></i>你已经有(<%= job.resumes.count %>)个竞争者 </p>
      </div>
    </div>

  <% end %>
  </div>
<% end %>
