<div class="col-md-1">
  <%= link_to("应征", new_job_resume_path(@job), class: "btn btn-warning pull-left") %>
</div>
<div class="col-md-10 col-centered">


  <div class="panel panel-info">
    <div class="panel-heading"> <h1> <%=@job.title%>

      <div class="pull-right">

        <% if current_user && current_user.is_member_of?(@job) %>
           <%= link_to quit_job_path(@job), method: :post, class: "btn btn-xs btn-danger pull-right" do%>
           <i class="fa fa-bookmark-o">
               取消收藏</i><% end %>
       <% else %>
           <%= link_to join_job_path(@job), method: :post, class: "btn btn-xs btn-success pull-right" do%>
           <i class="fa fa-bookmark">
               收藏工作</i><% end %>
           <% end %>
      </div>
    </h1>
  </div>
    <div class="panel-body">
      <p>
        <%=simple_format(@job.company)%>
        <%=simple_format(@job.description)%>
      </p>
    </div>
  </div>
</div>
