
<div class="col-md-8 col-centered">
  <h2 class="text-center">我收藏的工作</h2>
    <% @jobs.each do |job| %>


      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="text-center">
            <%= link_to(job.title, job_path(job)) %>

            </h4>
        </div>
        <div class="panel-body">
        <p>薪资：<%= job.wage_lower_bound %>~<%= job.wage_upper_bound %> ｜ 发布时间：  <%= job.created_at %> |
          你已经有(<%= job.resumes.count %>)个竞争者 | <%= Category.find(job.category_id).name %>

        </p>

        </div>
      </div>

    <% end %>
  </div>
